@use "reset";
//@use "old";
@use "obfuscate";
@use "background_effect";
@use "menu";

:root {
  --defaultfontcolor: #e8e7ea;
  --backgroundcolor: #2E073F;
  --sectionbackgroundcolor: #120521;
  --urlcolor: #F14A00;
  --urlcolorvisited: #C62300;
}


body {
  background: #120521;

  font-size: 1.1em;
  font-family: sans-serif;
  line-height: 1.5em;
  font-weight: bold;
  color: var(--defaultfontcolor);
}

div#body {
  min-height: 100vh;
  background-image: radial-gradient(#312332 2px, transparent 2px);
  background-size: 50px 50px;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 2.5em;
  margin-right: 2.5em;
  //background: linear-gradient(to bottom, #e0e7ff, #c7d2fe, #818cf8);
  border-radius: 15px;
  //border: 3px solid var(--backgroundcolor);
  padding: 1em;
  box-shadow:  0px 14px 106px 0px rgba(128, 27, 214, 0.57);
}

footer {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
  color: var(--defaultfontcolor);
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 0 #000, 1px 1px 2px #000;
}

header {
  color: var(--defaultfontcolor);
  font-size: 4em;
  line-height: 1.5em;
  text-align: right;
  margin-right: 3em;
  font-weight: bold;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 0 #000, 1px 1px 2px #000;
}

h2 {
  display: inline-block;
  flex: 0 0 100%;
  font-size: 2em;

}

article {
  display: block;
}

b {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

a {
  color: var(--urlcolor);
}

a:before {
  content:"/";
}

a.none:before {
  content:"/";
}

a.externe:before {
  content:"[";
}

a.externe:after {
  content:"]";
}

a:visited, a:hover, a:active {
  color: var(--urlcolorvisited);
}