@use "reset";
//@use "old";
@use "obfuscate";
@use "background_effect";
@use "menu";

:root {
  --defaultfontcolor: #e8e7ea;
  --backgroundcolor: #2E073F;
  --sectionbackgroundcolor: #120521;
  --urlcolor: #F14A00;
  --urlcolorvisited: #C62300;
  --mainbackground: #3c2854;
  --mainbackgrounddarker: #2b1d3e;
}


body {
  background: #120521;

  font-size: 1.1em;
  font-family: sans-serif;
  line-height: 1.5em;
  font-weight: bold;
  color: var(--defaultfontcolor);
}

div#body {
  min-height: 100vh;
  background-image: radial-gradient(#312332 2px, transparent 2px);
  background-size: 50px 50px;
}

section {
  margin-left: 4.5em;
  margin-right: 4.5em;
  background: #3c2854;
  border-radius: 15px;
  padding: 1em 2em;
  box-shadow:  0px 14px 106px 0px rgba(128, 27, 214, 0.57);
  text-align: center;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

article > * {
  flex: 40%;
  padding: 1em;
  border-radius: 15px;
}

article > *:nth-child(even), .block {
  background-color: var(--mainbackgrounddarker);
  box-shadow: 1px 1px 2px black;
}

@media (max-width: 800px) {
  article > * {
    flex: 100%;
  }
}

footer {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
  color: var(--defaultfontcolor);
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
}

header {
  color: var(--defaultfontcolor);
  font-size: 4em;
  line-height: 1.5em;
  text-align: right;
  margin-right: 3em;
  font-weight: bold;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
}

h2 {
  display: inline-block;
  flex: 0 0 100%;
  font-size: 2em;
  color: #3c2854;
  background-color: var(--defaultfontcolor);
  padding: 0.25em 1em;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-family: monospace;
  font-weight: bold;
}

b {
  font-size: 1.1em;
  font-weight: bolder;
  color: #f18d2d;
}

s {
  text-decoration: line-through;
}

a, a:visited {
  color: var(--urlcolor);
}

a.externe:after {
  content: " 🔗";
}

a:hover, a:active {
  color: var(--urlcolorvisited);
}

li:before {
  content: "• "
}

li ul {
  margin-left: 2em;
}

// specific stuff

#gamelist {
}

#gamelist > * {
  display: block;
  margin-bottom: 1em;
}

#gamelist > * > * {
  display: inline-block;
  background-color: var(--mainbackgrounddarker);
  padding: 0.5em;
  padding-bottom: 0.2em;
  border-radius: 15px;
}

#heatchain img {
  display: inline-block;
  height: 3em;
  margin: 0 50%;
  margin-top: -1em;
  margin-bottom: -1em;
  background-color: var(--mainbackgrounddarker);
  border-radius: 35px;
}

#cv h2 {
  margin-left: 2em;
  margin-top: 1em;
}

#cv h3 {
  background-color: var(--mainbackgrounddarker);
  border-radius: 15px;
  padding: 0.5em;
  padding-left: 1em;
  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 1em;
}

#cv li:before {
  content: "- "
}

#cv .titre {

}

#cv .titre span {
  font-style: italic;
}