/* --- STYLES DE BASE --- */

/* Page */
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: .9em;
  line-height: 1.4;
  color: #4D4D4D;
  background: #F2F2F2;
  font-family: sans-serif;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .5em 0;
  line-height: 1.2;
  font-weight: 300;
  font-style: normal;
  background-color:#F2F2F2;
  color:black;
  padding:0px 0px 0px 0px;
  height:25px;
  border-radius: 20px;
  font-weight: bold;
}

h3, h4, h5, h6 {
  padding:0px 0px 0px 1em;
}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 *
{
  font-size: .8em;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
  font-size: .9em;
  background-color:#262626;
  color:white;
  padding:0px 20px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
  border-radius: 20px;
}


h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}

/* Listes */
ul, ol {
  margin: .75em 0 .75em 32px;
  padding: 0;
}

/* Paragraphes */
p {
  margin: .75em 0;
}
address {
  margin: .75em 0;
  font-style: normal;
}

/* Liens */
a, .linktointernal {
  color: #11C;
  text-decoration: none;
  cursor: pointer;
}
a:before, .linktointernal:before{
  content:'[';
  color:#888888;
}
a:after, .linktointernal:after{
  content:']';
  color:#888888;
}

a .hide, .linktointernal .hide {
  display:none;
}
a:link, .linktointernal:link {
  color: #11C;
}
a:visited, .linktointernal:visited {
  color: #339;
}
a:hover, a:focus, a:active, .linktointernal:hover, .linktointernal:focus, .linktointernal:active {
  color: #00F;
}
a:hover .hide, .linktointernal:hover .hide {
  display:inline;
}
/* Pas de bordure pointillée ou halo lors du clic sur un lien */
a:active, .linktointernal:active {
  outline: none;
}
/* Pas de bordure autour des images dans les liens */
a img {
  border: none;
}

/* Divers éléments de type en-ligne (8) */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

/* Formulaires */
form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input, button, select {
  vertical-align: middle; /* Solution pb. d'alignement. (9) */
}

.imgheader {
  background: #1d1d26 url('../img/header.png') no-repeat left bottom;
;
  width:100%;
  height:282px;
  position:absolute;
  z-index:-999;
  border-bottom:3px double white;
}

header {
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  text-align:right;
  padding-top: 40px;
  padding-bottom: 20px;
  width:85%;
  color:white;
}

footer {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  color:#4F4F4F;
  padding-top:25px
}

footer a,footer a:visited, footer a:link{
  color:#5E5E5E;
  text-decoration: none;
}

.auth {
  font-size: 14px;
  float:right;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-bottom-left-radius: 10px;
  background-color:black;
  padding:3px 15px;
}

.auth a {
  color:white;
  text-decoration: none;
  font-weight:bold;
}

nav {
  text-align:left;
  width:100%;
}

section {
  background-color:#DFDFDF;
  padding:10px 30px 30px 30px;
  margin:0 auto;
  width:80%;

  border-radius: 15px;
}

.user_block {
  width:auto;
  float:left;
  margin-left:10px;
  border:1px solid white;
}

blockquote {
  border:1px solid white;
  background-color:#BBB;
  padding:5px;
  font-style:italic;
}

hr {
  height:6px;
  border:0;
  border-top:2px solid #BBB;
  border-bottom:2px solid #BBB;
}

.nocode {
  border:1px dashed white;
  background-color:#262626;
  font-family:Monospace;
  font-size:1.0em;
  color:white;
  padding:5px;
  font-style:normal;
  white-space:pre;
}

.hiddencss {
  width:100%;
}

.hiddencss table{
  display:none;
}

.hiddencss:hover table{
  display:block;
}

textarea
{
  width:100%;
  height:250px;
}

.menu {
  padding:0;
  margin:0;
  white-space:nowrap;
  text-align:right;
  margin-right:15%;
}

.menu > li {
  display:inline-block;
  text-align:center;
  margin:0 3px;
  padding:0;
  border:1px solid #bbb;
  border-bottom:none;
  background: linear-gradient(#ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#dfdfdf 100%); /* W3C */
  border-radius: 10px 10px 0px 0px;
  padding:5px 15px 5px 15px;
  margin:0;
  border:0;
  height:20px;
  display:inline-block;
}

.menu > li img{
  height:20px;
  padding:0;
  margin:-5px;
  border:none;
}

.menu > li:hover {
  background: #DFDFDF; /* Old browsers */
}

.menu > li:hover > ul {
  display:block;
}

.menu li:hover > a {
  color:red;
}

.menu ul{
  display:none;
  position: absolute;
  margin:0;
  border-radius:10px;
  border:1px solid #bbb;
}

.menu > ul li{
  display:block;
  padding:2px 10px;

  background: linear-gradient(#f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
  border-radius:10px;
}

.menu ul li:hover{
  background: #DFDFDF;
}

.menu > li:hover > ul li:hover > ul {
  display:block;
}

.menu ul ul{
  margin-left:50px;
  margin-top:-10px;
}

.menu > li > ul {
  background-color: #DFDFDF;
}

.menu > li > ul li {
  display:block;
  padding: 5px;
}

.menu > li > ul a:before {
  content: "";
}
.menu > li > ul a:after {
  content: "";
}

table {
  background-color:#ADADAD;
  text-decoration:none;
  border-collapse:collapse;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

tr:hover {
  background-color:#C4C4C4;
}

td {
  margin:3px;
  padding:3px;
}

td:hover {
  background-color:#D4D4D4;
}

.gamelist
{
  display: block;
}

.gamelist .game
{
  cursor: pointer;
}

.gamelist .game img
{
  display: block;
  float: left;

  height:150px;
  margin: 10px;
  border-radius: 10px;
}

.gamelist a:before{
  content:'';
}
.gamelist a:after{
  content:'';
}

.gamelist a img
{
  width:100%;
  height:100%;
  border-radius: 10px;
}
